.section-faq{
    background: #000;
    margin-top: 10px;
    padding: 60px 0;
    width: 100%;
}
.section-faq-cap{
    color: #fff;
    width: 90%;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 50px;
}
.faq-question{
    background: #414040;
    margin: 7px auto 0 auto;
    padding: 10px 0;
    width: 60%;
}

.btn-faq-question-title{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;

    font-size: 30px;

    display: flex;
    justify-content: space-between;

    width: 100%;
}

.faq-question-body{
    border-top: 1px solid #000;
    color: #fff;
    font-size: 25px;

    padding: 20px 25px;
    overflow: hidden;
    transition: .1s;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.icon-faq{
    transition: .1s ease-in-out;
}
.faq-footer{
    padding: 40px 0;
}
.faq-footer p{
    color: #fff;
    text-align: center;
}
